.square {
  background-color: wheat;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &.odd {
    background-color: black;
  }

  &.selected {
    background-color: #1db954;
  }
}
