.square {
  background-color: wheat;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &.knight:after {
    background-image: url('../../assets/icons/knight.svg');
    background-size: contain;
  }

  &.odd {
    background-color: black;
  }

  &.selected {
    background-color: #1db954;
  }
}
