.main-container {
  background-color: #535353;
  min-height: 100vh;
}

.main-title {
  background-color: #212121;
  color: #1db954;

  align-items: center;
  text-align: center;
}

.board-container {
  margin: auto;
  padding: 2rem 12rem;

  max-width: 80%;
}
