.content-container {
  background-color: #f3f3f3;
  padding: 0 3rem;
  min-height: 84vh;

  @media only screen and (max-width: 920px) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 0 1rem;
  }
}

.footer-container {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;

  color: white;
  font-size: 22px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}
