.square {
  background-color: red;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &.odd {
    background-color: #400;
  }

  &.selected {
    background-color: #1db954;
  }
}
